# **House Price Prediction**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split,KFold,StratifiedKFold,cross_val_score,GridSearchCV

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

In [ ]:
df_train=pd.read_csv('/content/drive/MyDrive/Camerin DSML/Machine Test/House Price (Advanced)/train.csv')
df_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
df_test=pd.read_csv('/content/drive/MyDrive/Camerin DSML/Machine Test/House Price (Advanced)/test.csv')
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

**Preprocessing**

In [ ]:
df_train.shape

(1460, 81)

In [ ]:
df_test.shape

(1459, 80)

**1. Handling Missing Values**

(i) Dropping Missing Values

In [ ]:
# Training Data
for i in df_train:
  if df_train[i].isna().sum()!=0:
    print(i,df_train[i].isna().sum())

LotFrontage 259
Alley 1369
MasVnrType 872
MasVnrArea 8
BsmtQual 37
BsmtCond 37
BsmtExposure 38
BsmtFinType1 37
BsmtFinType2 38
Electrical 1
FireplaceQu 690
GarageType 81
GarageYrBlt 81
GarageFinish 81
GarageQual 81
GarageCond 81
PoolQC 1453
Fence 1179
MiscFeature 1406

In [ ]:
df_train.shape

(1460, 81)

In [ ]:
df_test.shape

(1459, 80)

In [ ]:
df_train=df_train.drop(columns=['Id','MiscFeature','Fence','PoolQC','FireplaceQu','MasVnrType','Alley'])
df_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [ ]:
# Testing Data
for i in df_test:
  if df_test[i].isna().sum()!=0:
    print(i,df_test[i].isna().sum())

MSZoning 4
LotFrontage 227
Alley 1352
Utilities 2
Exterior1st 1
Exterior2nd 1
MasVnrType 894
MasVnrArea 15
BsmtQual 44
BsmtCond 45
BsmtExposure 44
BsmtFinType1 42
BsmtFinSF1 1
BsmtFinType2 42
BsmtFinSF2 1
BsmtUnfSF 1
TotalBsmtSF 1
BsmtFullBath 2
BsmtHalfBath 2
KitchenQual 1
Functional 2
FireplaceQu 730
GarageType 76
GarageYrBlt 78
GarageFinish 78
GarageCars 1
GarageArea 1
GarageQual 78
GarageCond 78
PoolQC 1456
Fence 1169
MiscFeature 1408
SaleType 1

In [ ]:
df_test=df_test.drop(columns=['MiscFeature','Fence','PoolQC','FireplaceQu','MasVnrType','Alley'])
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,...,82,0,0,144,0,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,Reg,Lvl,AllPub,Inside,...,24,0,0,0,0,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,Reg,Lvl,AllPub,Inside,...,32,0,0,0,0,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,Reg,Lvl,AllPub,Inside,...,48,0,0,0,0,0,11,2006,WD,Normal

(ii) Filling Missing Values

In [ ]:
# Training Data
for i in df_train:
  if df_train[i].isna().sum()!=0:
    print(i,df_train[i].isna().sum())

LotFrontage 259
MasVnrArea 8
BsmtQual 37
BsmtCond 37
BsmtExposure 38
BsmtFinType1 37
BsmtFinType2 38
Electrical 1
GarageType 81
GarageYrBlt 81
GarageFinish 81
GarageQual 81
GarageCond 81

In [ ]:
ob_train=[]
nu_train=[]
for i in df_train:
  if df_train[i].isna().sum()!=0:
     if df_train[i].dtype=='object':
       ob_train.append(i)
     else:
       nu_train.append(i)
print(f'Object Columns : \n {ob_train}')
print(f'Number of Object Columns : {len(ob_train)}')
print(f'\n Numeric Columns : \n {nu_train}')
print(f'Number of Numeric Columns : {len(nu_train)}')

Object Columns :
 ['BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond']
Number of Object Columns : 10

 Numeric Columns :
 ['LotFrontage', 'MasVnrArea', 'GarageYrBlt']
Number of Numeric Columns : 3

In [ ]:
df_train['LotFrontage']=df_train['LotFrontage'].fillna(df_train['LotFrontage'].mean())
df_train['GarageYrBlt']=df_train['GarageYrBlt'].fillna(df_train['GarageYrBlt'].mode())
df_train=df_train.dropna()

In [ ]:
df_train

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [ ]:
c=0
for i in df_train:
  if df_train[i].isna().sum()==0:
    c=0
  else:
    c+=1
if c==0:
  print('Missing values handled')
else:
  print('There are missing values')

Missing values handled

In [ ]:
# Testing Data
for i in df_test:
  if df_test[i].isna().sum()!=0:
    print(i,df_test[i].isna().sum())

MSZoning 4
LotFrontage 227
Utilities 2
Exterior1st 1
Exterior2nd 1
MasVnrArea 15
BsmtQual 44
BsmtCond 45
BsmtExposure 44
BsmtFinType1 42
BsmtFinSF1 1
BsmtFinType2 42
BsmtFinSF2 1
BsmtUnfSF 1
TotalBsmtSF 1
BsmtFullBath 2
BsmtHalfBath 2
KitchenQual 1
Functional 2
GarageType 76
GarageYrBlt 78
GarageFinish 78
GarageCars 1
GarageArea 1
GarageQual 78
GarageCond 78
SaleType 1

In [ ]:
ob_test=[]
nu_test=[]
for i in df_test:
  if df_test[i].isna().sum()!=0:
    if df_test[i].dtype=='object':
      ob_test.append(i)
    else:
      nu_test.append(i)
print(f'Object Columns : \n {ob_test}')
print(f'Number of Object Columns : {len(ob_test)}')
print(f'\nNumeric Columns : \n {nu_test}')
print(f'Number of Numeric Columns : {len(nu_test)}')

Object Columns :
 ['MSZoning', 'Utilities', 'Exterior1st', 'Exterior2nd', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'KitchenQual', 'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'SaleType']
Number of Object Columns : 16

Numeric Columns :
 ['LotFrontage', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'GarageYrBlt', 'GarageCars', 'GarageArea']
Number of Numeric Columns : 11

**Numeric Values**

In [ ]:
df_test['LotFrontage']=df_test['LotFrontage'].fillna(np.round(df_test['LotFrontage'].mean()))

In [ ]:
df_test['MasVnrArea']=df_test['MasVnrArea'].fillna(np.round(df_test['MasVnrArea'].mean()))

In [ ]:
df_test['BsmtFinSF1']=df_test['BsmtFinSF1'].fillna(np.round(df_test['BsmtFinSF1'].mean()))

In [ ]:
df_test['BsmtFinSF2']=df_test['BsmtFinSF2'].fillna(np.round(df_test['BsmtFinSF2'].mean()))

In [ ]:
df_test['BsmtUnfSF']=df_test['BsmtUnfSF'].fillna(np.round(df_test['BsmtUnfSF'].mean()))

In [ ]:
df_test['TotalBsmtSF']=df_test['TotalBsmtSF'].fillna(np.round(df_test['TotalBsmtSF'].mean()))

In [ ]:
df_test['BsmtFullBath']=df_test['BsmtFullBath'].fillna(np.round(df_test['BsmtFullBath'].mean()))

In [ ]:
df_test['BsmtHalfBath']=df_test['BsmtHalfBath'].fillna(np.round(df_test['BsmtHalfBath'].mean()))

In [ ]:
df_test['GarageYrBlt']=df_test['GarageYrBlt'].fillna(2005)

In [ ]:
df_test['GarageCars']=df_test['GarageCars'].fillna(2.0)

In [ ]:
df_test['GarageArea']=df_test['GarageArea'].fillna(np.round(df_test['GarageArea'].mean()))

**Object Values**

In [ ]:
df_test['MSZoning']=df_test['MSZoning'].fillna('RL')

In [ ]:
df_test['Utilities']=df_test['Utilities'].fillna('AllPubUtilities')

In [ ]:
df_test['Exterior1st']=df_test['Exterior1st'].fillna('VinylSd')

In [ ]:
df_test['Exterior2nd']=df_test['Exterior2nd'].fillna('VinylSd')

In [ ]:
df_test['BsmtQual']=df_test['BsmtQual'].fillna('TA')

In [ ]:
df_test['BsmtCond']=df_test['BsmtCond'].fillna('TA')

In [ ]:
df_test['BsmtExposure']=df_test['BsmtExposure'].fillna('No')

In [ ]:
df_test['BsmtFinType1']=df_test['BsmtFinType1'].fillna('Unf')

In [ ]:
df_test['BsmtFinType2']=df_test['BsmtFinType2'].fillna('Unf')

In [ ]:
df_test['KitchenQual']=df_test['KitchenQual'].fillna('TA')

In [ ]:
df_test['Functional']=df_test['Functional'].fillna('Typ')

In [ ]:
df_test['GarageType']=df_test['GarageType'].fillna('Attchd')

In [ ]:
df_test['GarageFinish']=df_test['GarageFinish'].fillna('Unf')

In [ ]:
df_test['GarageQual']=df_test['GarageQual'].fillna('TA')

In [ ]:
df_test['GarageCond']=df_test['GarageCond'].fillna('Fa')

In [ ]:
df_test['SaleType']=df_test['SaleType'].fillna('WD')

In [ ]:
c=0
for i in df_test:
  if df_test[i].isna().sum()==0:
    c=0
  else:
    c+=1
if c==0:
  print('Missing values handled')
else:
  print('There are missing values')

Missing values handled

In [ ]:
print(f'Shape of Training Data : {df_train.shape}')
print(f'Shape of Testing Data : {df_test.shape}')

Shape of Training Data : (1338, 74)
Shape of Testing Data : (1459, 74)

**2. Label Encoding**

In [ ]:
# Training Data
encoder=LabelEncoder()
for i in df_train:
  if df_train[i].dtype=='object':
    df_train[i]=encoder.fit_transform(df_train[i])
  print(i,df_train[i].dtype)

MSSubClass int64
MSZoning int64
LotFrontage float64
LotArea int64
Street int64
LotShape int64
LandContour int64
Utilities int64
LotConfig int64
LandSlope int64
Neighborhood int64
Condition1 int64
Condition2 int64
BldgType int64
HouseStyle int64
OverallQual int64
OverallCond int64
YearBuilt int64
YearRemodAdd int64
RoofStyle int64
RoofMatl int64
Exterior1st int64
Exterior2nd int64
MasVnrArea float64
ExterQual int64
ExterCond int64
Foundation int64
BsmtQual int64
BsmtCond int64
BsmtExposure int64
BsmtFinType1 int64
BsmtFinSF1 int64
BsmtFinType2 int64
BsmtFinSF2 int64
BsmtUnfSF int64
TotalBsmtSF int64
Heating int64
HeatingQC int64
CentralAir int64
Electrical int64
1stFlrSF int64
2ndFlrSF int64
LowQualFinSF int64
GrLivArea int64
BsmtFullBath int64
BsmtHalfBath int64
FullBath int64
HalfBath int64
BedroomAbvGr int64
KitchenAbvGr int64
KitchenQual int64
TotRmsAbvGrd int64
Functional int64
Fireplaces int64
GarageType int64
GarageYrBlt float64
GarageFinish int64
GarageCars int64
GarageArea int64
GarageQual int64
GarageCond int64
PavedDrive int64
WoodDeckSF int64
OpenPorchSF int64
EnclosedPorch int64
3SsnPorch int64
ScreenPorch int64
PoolArea int64
MiscVal int64
MoSold int64
YrSold int64
SaleType int64
SaleCondition int64
SalePrice int64

In [ ]:
# Testing Data
for i in df_test:
  if df_test[i].dtype=='object':
    df_test[i]=encoder.fit_transform(df_test[i])
  print(i,df_test[i].dtype)

Id int64
MSSubClass int64
MSZoning int64
LotFrontage float64
LotArea int64
Street int64
LotShape int64
LandContour int64
Utilities int64
LotConfig int64
LandSlope int64
Neighborhood int64
Condition1 int64
Condition2 int64
BldgType int64
HouseStyle int64
OverallQual int64
OverallCond int64
YearBuilt int64
YearRemodAdd int64
RoofStyle int64
RoofMatl int64
Exterior1st int64
Exterior2nd int64
MasVnrArea float64
ExterQual int64
ExterCond int64
Foundation int64
BsmtQual int64
BsmtCond int64
BsmtExposure int64
BsmtFinType1 int64
BsmtFinSF1 float64
BsmtFinType2 int64
BsmtFinSF2 float64
BsmtUnfSF float64
TotalBsmtSF float64
Heating int64
HeatingQC int64
CentralAir int64
Electrical int64
1stFlrSF int64
2ndFlrSF int64
LowQualFinSF int64
GrLivArea int64
BsmtFullBath float64
BsmtHalfBath float64
FullBath int64
HalfBath int64
BedroomAbvGr int64
KitchenAbvGr int64
KitchenQual int64
TotRmsAbvGrd int64
Functional int64
Fireplaces int64
GarageType int64
GarageYrBlt float64
GarageFinish int64
GarageCars float64
GarageArea float64
GarageQual int64
GarageCond int64
PavedDrive int64
WoodDeckSF int64
OpenPorchSF int64
EnclosedPorch int64
3SsnPorch int64
ScreenPorch int64
PoolArea int64
MiscVal int64
MoSold int64
YrSold int64
SaleType int64
SaleCondition int64

**3. Train-Test Split**

In [ ]:
x=df_train.drop(columns='SalePrice')
x.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,3,65.0,8450,1,3,3,0,4,0,...,61,0,0,0,0,0,2,2008,8,4
1,20,3,80.0,9600,1,3,3,0,2,0,...,0,0,0,0,0,0,5,2007,8,4
2,60,3,68.0,11250,1,0,3,0,4,0,...,42,0,0,0,0,0,9,2008,8,4
3,70,3,60.0,9550,1,0,3,0,0,0,...,35,272,0,0,0,0,2,2006,8,0
4,60,3,84.0,14260,1,0,3,0,2,0,...,84,0,0,0,0,0,12,2008,8,4

In [ ]:
y=df_train['SalePrice']
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [ ]:
scaler=StandardScaler()
for i in x:
  x[[i]]=scaler.fit_transform(x[[i]])
x.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0.093701,-0.038318,-0.254147,-0.218363,0.061245,0.772893,0.308907,-0.027349,0.612488,-0.228303,...,0.202294,-0.349612,-0.118688,-0.283203,-0.071771,-0.084535,-1.605319,0.146084,0.316441,0.184105
1,-0.876298,-0.038318,0.422953,-0.107067,0.061245,0.772893,0.308907,-0.027349,-0.614322,-0.228303,...,-0.731311,-0.349612,-0.118688,-0.283203,-0.071771,-0.084535,-0.493561,-0.605686,0.316441,0.184105
2,0.093701,-0.038318,-0.118727,0.052620,0.061245,-1.341893,0.308907,-0.027349,0.612488,-0.228303,...,-0.088501,-0.349612,-0.118688,-0.283203,-0.071771,-0.084535,0.988784,0.146084,0.316441,0.184105
3,0.336201,-0.038318,-0.479847,-0.111906,0.061245,-1.341893,0.308907,-0.027349,-1.841132,-0.228303,...,-0.195636,4.122511,-0.118688,-0.283203,-0.071771,-0.084535,-1.605319,-1.357457,0.316441,-3.591099
4,0.093701,-0.038318,0.603514,0.343926,0.061245,-1.341893,0.308907,-0.027349,-0.614322,-0.228303,...,0.554309,-0.349612,-0.118688,-0.283203,-0.071771,-0.084535,2.100542,0.146084,0.316441,0.184105

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=13)

**4. Cross Validation**

In [ ]:
LR_score=cross_val_score(LinearRegression(),X=x,y=y,cv=5)
DT_score=cross_val_score(DecisionTreeRegressor(),X=x,y=y,cv=5)
RF_score=cross_val_score(RandomForestRegressor(),X=x,y=y,cv=5)
KN_score=cross_val_score(KNeighborsRegressor(),X=x,y=y,cv=5)
AD_score=cross_val_score(AdaBoostRegressor(),X=x,y=y,cv=5)
GB_score=cross_val_score(GradientBoostingRegressor(),X=x,y=y,cv=5)
XG_score=cross_val_score(XGBRegressor(),X=x,y=y,cv=5)
svm_score=cross_val_score(SVR(),X=x,y=y,cv=5)

In [ ]:
print(f'Linear Regression : {np.round(np.mean(LR_score)*100,2)}%')
print(f'Decision Tree : {np.round(np.mean(DT_score)*100,2)}%')
print(f'Random Forest : {np.round(np.mean(RF_score)*100,2)}%')
print(f'KNN : {np.round(np.mean(KN_score)*100,2)}%')
print(f'Adaboost : {np.round(np.mean(AD_score)*100,2)}%')
print(f'Gradient Boost : {np.round(np.mean(GB_score)*100,2)}%')
print(f'XGB : {np.round(np.mean(XG_score)*100,2)}%')
print(f'SVM : {np.round(np.mean(svm_score)*100,2)}%')

Linear Regression : 78.3%
Decision Tree : 69.58%
Random Forest : 85.54%
KNN : 73.94%
Adaboost : 80.42%
Gradient Boost : 88.17%
XGB : 85.35%
SVM : -5.49%

**5. Grid Search**

* Gradient Boost : 88.19%
* XGB : 85.35%
* Random Forest : 85.23%

In [ ]:
Gb=GradientBoostingRegressor()
Gb_params=[{'max_depth':list(range(2,7)),'learning_rate':[i/100 for i in range(1,21)]}]

In [ ]:
clf=GridSearchCV(Gb,Gb_params,cv=5,scoring='r2')
clf.fit(x_train,y_train)
print(clf.best_params_)
print(clf.best_score_)

{'learning_rate': 0.07, 'max_depth': 4}
0.887567466579932

{'learning_rate': 0.18, 'max_depth': 5}

0.8886877321657727

In [ ]:
Xg=XGBRegressor()
Xg_params=[{'colsample_bytree':[i/10 for i in range(4,11)],'gamma':list(range(0,10))}]

In [ ]:
clf=GridSearchCV(Xg,Xg_params,cv=5,scoring='r2')
clf.fit(x_train,y_train)
print(clf.best_params_)
print(clf.best_score_)

{'colsample_bytree': 0.4, 'gamma': 0}
0.870387852191925

{'colsample_bytree': 0.4, 'gamma': 0}

0.870387852191925

In [ ]:
Rf=RandomForestRegressor(random_state=42)
Rf_params=[{'n_estimators':[150,300],'max_depth':[None,10,20]}]

In [ ]:
clf=GridSearchCV(Rf,Rf_params,cv=5,scoring='r2')
clf.fit(x_train,y_train)
print(clf.best_params_)
print(clf.best_score_)

{'max_depth': None, 'n_estimators': 300}
0.8598820818322572

{'max_depth': None, 'n_estimators': 300}

0.8598820818322572

**6. Model Selection**

In [ ]:
model=GradientBoostingRegressor(learning_rate=0.18,max_depth=5)
model.fit(x_train,y_train)

pred_y=model.predict(x_test)
pred_y

array([225731.59368263,  73087.20900651, 280767.17915923, 280037.74163147,
       335387.431993  , 136459.09417296, 272168.79682404, 324478.48682924,
       162899.74820739, 210364.59604123, 173196.29560681, 140853.96498208,
       231313.61112612, 200286.38435719, 361676.41896536, 149499.7311694 ,
       126385.01007891, 148752.67380867, 123338.18254256, 152161.15532433,
       162462.27514508, 383560.741973  , 239630.81837268, 116152.91475936,
       141281.21910137, 141024.7787004 , 152422.11115339, 170918.03028332,
       136349.08211462, 225096.85523496, 122645.71678993, 117716.62578128,
       121955.54333589, 130621.11278063, 180425.31040956, 272335.53266617,
       318891.85381521, 274632.31497808, 226566.5296939 , 170944.21660489,
       536032.73804283, 204147.75474518, 139012.82377455, 222081.95373153,
       248990.81659598, 379730.42839504, 189873.20434149, 285282.90625356,
       256123.04756397, 283453.98843286, 112218.16932453, 203488.96490649,
       126221.02328535,  93881.02385019,  92010.02771368, 129344.29486612,
       177778.11688902, 126875.64935839, 140901.42957449, 143522.92546758,
       166754.52081185, 241559.21099465, 219974.29682507, 116913.32040017,
       163174.50948837, 130236.79192046, 229557.87908032, 136022.13051199,
       178921.7745851 , 174180.24264223, 191183.00797191, 180166.33838427,
       312669.39510823, 115464.99275456, 174895.61203583, 234671.03998029,
       207430.07663539, 108699.30903976, 124218.95335982, 135264.10239998,
       129678.90113787, 188547.46455116, 172242.37864141, 167582.11057404,
       226905.93668982, 117011.9607386 , 243815.49047229, 268845.0116779 ,
       137238.79208167, 148418.57562987, 124637.70022409, 151562.16369805,
       278646.7769257 , 142897.6568908 , 302601.89639764, 185617.01416499,
        68853.21867572, 227002.45227527, 156366.28353629, 137408.15904478,
       147043.08732227, 141398.32110466, 285687.95974272, 193437.93389309,
       122863.24363209, 122044.60342323, 184124.04087025, 152354.89906864,
       222976.32922184, 185591.3721857 , 171048.26272218, 131302.85688349,
       174403.96300755, 160199.20665089, 188267.75933037, 130402.30598129,
       181563.61540328, 132437.12721218, 148020.06894385, 128317.9113301 ,
       143001.83394397, 150008.83060728, 143537.65285988, 119688.06010985,
       227790.0140745 , 177381.15275086, 134130.48140145, 177869.22515207,
       140080.03632026, 182168.40255492, 342033.95417005, 294087.55353228,
       154734.95261267, 125013.76731077, 144293.01907249, 132531.91603005,
       129556.76056294,  89853.10802962, 184228.11148072, 207728.39572206,
       282022.45558229, 129355.13601841, 242443.2950614 , 193684.27809065,
       184480.00939411, 108485.77179265, 157593.01949498, 137293.00773313,
       175786.52614583, 139989.82586401, 111608.1926852 , 116481.39937398,
       217115.0290204 , 187515.80449364, 169722.6863762 , 142176.27501339,
       366915.03848562, 271678.30590735, 227537.97911877, 136862.37316041,
       130852.29895982, 188106.10130507, 282860.63820034, 195855.440424  ,
       203998.00104557, 213160.89339857,  99715.17081862, 177474.11066259,
       138532.97319396, 243238.99329387, 401944.99676894, 129137.10352302,
       153988.55522579, 108917.10019303, 205248.62118299, 156800.17511085,
       256296.81579692, 144585.39695104, 102538.26524881, 193435.74627093,
       142499.56874722, 173039.46965886, 231893.29452951, 158828.82545446,
       190819.80717351, 151682.05445005, 198551.22623456, 116558.77331487,
       114194.71725425, 168427.69299533, 202673.36238537, 497050.77263032,
       222121.53909282, 210767.43048205, 291581.56844652, 204212.183581  ,
       131520.98087991, 210763.30511402, 127690.85540436, 137651.74060786,
       214621.9370386 , 126142.40722603, 110617.87193178, 170689.32388477,
       161970.30601892, 255601.76296358, 240729.39332962, 226538.54739826,
       134795.15190746, 188248.94095212, 150410.60611082,  97060.2385327 ,
       273232.68892023, 128950.5879313 , 400882.5318837 , 177119.03491968,
       196437.6577245 , 124980.66779621, 199258.27521561, 153139.99404852,
       240417.23496309, 289050.20123687, 205342.87903321, 170028.09499418,
       173756.48842561, 164509.34210297, 498995.77948796, 184579.05373915,
       181042.60272676, 128908.55190396, 203609.52173914, 195526.34199778,
       268505.33227056, 268179.48053911, 149426.30219079, 110034.36205597,
       165477.90368536, 149879.22495029, 101126.03039504, 234449.5280411 ,
        77557.85274248, 180313.31883196, 187595.76987145, 193695.22965727,
       353114.04329991, 122706.93793064, 155782.59372543, 135110.98011547,
       171903.18213025, 170636.10013819, 181933.75309865, 565960.18587588,
       219675.68639345, 330121.83659592, 143878.90245808, 147820.96706814,
       228494.68184806, 158159.87386756, 221292.3831563 , 178320.2060389 ,
       229522.83355805,  88698.77341401, 230171.66131167, 172964.04480701,
       375228.36194355, 207040.54629172, 139278.8903485 , 162904.08433058,
       203355.93318484, 239625.71264963, 131524.01698486, 238406.20918317,
       208346.13645088, 110537.69861938, 112760.00826646, 232416.7436047 ,
        92952.22067125, 155534.35336017, 172920.37674945, 154472.29134124,
       155119.49734959, 125256.86959361, 136587.81304284, 122442.87800547,
       114267.94394641, 125092.4482475 , 254851.54212735, 212803.34823082,
       145491.25768123, 277175.91533276, 222751.36695071, 156538.75329715,
       224706.9136204 , 126550.38952477, 114020.59317959, 230443.75186695,
       239788.18671418, 158260.64364735, 198019.05944049, 265656.41485186,
       178872.59657326, 141592.68487397, 251168.233343  , 119152.66926776,
       333152.1010107 , 120563.94981198, 143513.69481796, 273275.23397386,
       124114.78155624, 167191.45060549, 121276.8794385 ,  84613.59386566,
       152164.77715653, 129873.99941627, 124528.90370807, 197368.81404894,
       293555.07810335, 159032.35527171, 119864.2536855 , 163029.00203818,
       126994.01565273, 287871.19303157, 138110.99892015, 310432.17556243,
       155132.91213205, 144970.4073561 , 184330.51123322, 164652.87336063,
        93576.43768057, 161538.79368624, 245116.66494969, 155268.98984855,
       127200.72038055, 118358.19404725, 173023.6551869 ])

In [ ]:
model.score(x_test,y_test)

0.802077473503033

**7. Test Data**

In [ ]:
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,2,80.0,11622,1,3,3,0,4,...,0,0,0,120,0,0,6,2010,8,4
1,1462,20,3,81.0,14267,1,0,3,0,0,...,36,0,0,0,0,12500,6,2010,8,4
2,1463,60,3,74.0,13830,1,0,3,0,4,...,34,0,0,0,0,0,3,2010,8,4
3,1464,60,3,78.0,9978,1,0,3,0,4,...,36,0,0,0,0,0,6,2010,8,4
4,1465,120,3,43.0,5005,1,0,1,0,4,...,82,0,0,144,0,0,1,2010,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,4,21.0,1936,1,3,3,0,4,...,0,0,0,0,0,0,6,2006,8,4
1455,2916,160,4,21.0,1894,1,3,3,0,4,...,24,0,0,0,0,0,4,2006,8,0
1456,2917,20,3,160.0,20000,1,3,3,0,4,...,0,0,0,0,0,0,9,2006,8,0
1457,2918,85,3,62.0,10441,1,3,3,0,4,...,32,0,0,0,0,700,7,2006,8,4
1458,2919,60,3,74.0,9627,1,3,3,0,4,...,48,0,0,0,0,0,11,2006,8,4

In [ ]:
ID=df_test['Id']
df_test=df_test.drop(columns='Id')

In [ ]:
p=[]
predicted=model.predict(df_test)
p=np.round(predicted)
print(p)

[587026. 521796. 659051. ... 495368. 329351. 653990.]

In [ ]:
final=pd.DataFrame({
    'ID':ID,
    "SalePrice":p
})
final

        ID  SalePrice
0     1461   587026.0
1     1462   521796.0
2     1463   659051.0
3     1464   658429.0
4     1465   616244.0
...    ...        ...
1454  2915   409140.0
1455  2916   627352.0
1456  2917   495368.0
1457  2918   329351.0
1458  2919   653990.0

[1459 rows x 2 columns]

In [ ]:
final.to_csv('Submission.csv',index=False)

from google.colab import files
files.download("Submission.csv")